<div class="row">
  <div class="col-xs-12-col-md-4">
    <%= form_for @family_member do |f| %>
      <%= render 'family_member_form_body', f: f, topic: Topic.find(@family_member.topic_id), fm: @family_member %>
      <%= f.submit 'Update' %>
  </div>
  <% end %>

</div>
