<%= form_for @family_member do |f| %>
    <%= render 'family_member_form_body', f: f %>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <%= f.submit "Add Relationship", class: "btn btn-secondary" %>
    </div>
  </div>
</div>

<% end %>
