$bootstrap-grey: #F7F7F7;
$bootstrap-dark-grey: rgba(0,0,0,0.7);
$bootstrap-med-grey: rgba(0,0,0,0.5);
$bootstrap-light-grey: white;
$bootstrap-text-grey: #333333;
$bootstrap-blue: #025AA5;
$nmf-red: #B1242C;
$nmf-dark-red: #9B2026;
$nmf-purple: #782F5A;
$nmf-dark-purple: #532942;

$bootstrap-border-grey: rgba(0,0,0,0.15)
