@import "colors";

div#navbar-example {
  display: inline-flex;
  width: 100%;
}
span.select2 {
  max-width: 150px;
  border: 0.1rem solid rgba(0, 0, 0, 0.5);
  background-color: white;
  border-radius: 4px;
  vertical-align: middle;
}

li.nav-item.with-select {
  padding: 8px 4px 0px 4px !important;
}
span.select2-selection__rendered {
  padding-top: 2px;
}
button.nav-icon {
  @extend .nav-link;
  color: rgba(0, 0, 0, 0.5);
  background-color: inherit;
  border: none;
  padding: 0px 4px !important;
  font-size: 30px;
  box-shadow: none;
}

a.navbar-brand {
  padding: 0;
}

a.nav-link {
  color: $bootstrap-dark-grey !important;
}

a.nav-link.disabled {
  color: $bootstrap-med-grey !important;
  cursor: default;
}
