$legal-pad-yellow: #FAF2AD;
$legal-pad-grey: #F5F6F7;

myscript-math-web {
  min-width: calc(90vw - 52px);
  width: 100%;
  height: 384px;
}
.input-group > select.form-control {
  border-radius: 0px !important;
}

.scribble {
  background-color: $legal-pad-yellow;
  color: $legal-pad-grey;
  &.btn {
    border-left: 2px solid $legal-pad-grey;
  }
  &:hover {
    color: $bootstrap-dark-grey;
  }
}
