@import "colors";

.modal-body.quick-add {
  background-color: $bootstrap-grey;
}

$sidebar-width: 250px;

.tab-pane .row {
  width: 95%;
}
.form-control.single-option {
  background-color: white;
  border: none;
  padding-left: 0.5rem;
  max-width: 75px;
  cursor: default;
  color: $bootstrap-text-grey;
}
input[type='radio'] {
  visibility: hidden;
  width: 0px;
}
.react-tabs {
  vertical-align: top;
}
.tab-content {
  margin-left: $sidebar-width;
  width: calc(100% - $sidebar-width);
  background-color: $bootstrap-light-grey !important;
  .tab-pane {
    overflow-y: auto;
  }
  .react-tabs__tab-panel--selected {
    display: block;
  }
}

ul.allGroups {
  max-width: $sidebar-width;
  padding: 0px;
  float: left;
}

li.bodyGroup {
  list-style-type: none;
  color: $bootstrap-dark-grey;
  max-width: $sidebar-width;
  border-radius: 0px !important;
  border: 0 !important;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 16px;
  margin-right: 0px;
  &:hover {
    background-color: $bootstrap-light-grey !important;
    border: 0 !important;
    padding: 8px 16px;
  }
  &.active {
    background-color: $bootstrap-light-grey !important;
    border: 0 !important;
    padding: 8px 16px;
  }
}

.nav-tabs {
  float: left;
  padding-right: 8px !important;
  width: $sidebar-width;
  background: $bootstrap-grey !important;
  li {
    float: none;

    a {
      border: 0;
    }
  }
}

tr.row_form {
  background-color: #F7F7F7;
  width: 100%;
}
.summary-body {
  background-color: white;
}

.summary-bar {
  color: $bootstrap-dark-grey;
  &.card-header {
    padding: 0px 8px;
  }
  &:hover {
    text-decoration: none;
    background-color: white;
  }
}

.btn.paneTopicGroup {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: $bootstrap-grey;
  &.active {
    border-bottom: 0px;
    background-color: $bootstrap-light-grey;
    box-shadow: none;
  }
}

.row.topicButtons {
  margin-left: 5px;
  padding-bottom: 2px;
}
.summary-accordion {
  margin-bottom: -16px;
  padding: 0px;
}
