@import "colors";

.modal-body.quick-add {
  background-color: $bootstrap-grey;
}

.form-control.single-option {
  background-color: white;
  border: none;
  padding-left: 0.5rem;
  max-width: 75px;
  cursor: default;
  color: $bootstrap-text-grey;
}

.summary-body {
  background-color: white;
}

.summary-bar {
  color: $bootstrap-dark-grey;
  &.card-header {
    padding: 0px 8px;
  }
  &:hover {
    text-decoration: none;
    background-color: white;
  }
}

.summary-accordion {
  margin-bottom: -16px;
  padding: 0px;
}
