<p id="notice">
  <%= notice %>
</p>
<p>
  <%= @complication.generate_summary %>
</p>
<%= link_to 'Edit', edit_complication_path(@complication) %> |
<%= link_to '‹ Back', :back, class: "btn btn-secondary" %>
