<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Procedures</h3>
  </div>
  <% if procedures.length != 0 %>
    <table class="table table-striped table-hover">
      <tr>
        <th>Date</th>
        <th>Type</th>
        <th>Note</th>
      </tr>
      <% procedures.each do |p| %>
        <tr>
          <td><%= display_date(p) %></td>
          <td><%= find_trail(Topic.where(id: p.topic_id)[0]) %></td>
          <td><%= print_if_present(p.note) %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <div class="panel-body">
      Patient has not reported any testing.
    </div>
  <% end %>
</div>
