<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Symptoms</h3>
  </div>
  <% if @symptoms.length != 0 %>
    <table class="table table-striped table-hover">
      <tr>
        <th>Symptom</th>
        <th>System</th>
        <th>Present?</th>
        <th>Measurement</th>
      </tr>
      <% @symptoms.each do |s| %>
        <tr>
          <td><%= SeededSymptom.where(id: s.seeded_symptom_id)[0].common_name %></td>
          <td><%= SeededSymptom.where(id: s.seeded_symptom_id)[0].systemic_category %></td>
          <td><%= s.presence %></td>
          <td><%= s.measurement %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <div class="panel-body">
      Patient did not report any symptoms during this visit.
    </div>
  <% end %>
</div>
