<div id="vitalsAccordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="vitalsHeading">
      <a data-toggle="collapse" data-parent="#vitalsAccordion" href="#vitalsCollapse" aria-expanded="true" aria-controls="vitalsCollapse" style="none">
        <h3 class="panel-title mb-0">
            Vitals <span class="caret"></span>
        </h3>
      </a>
    </div>
    <div id="vitalsCollapse" class="collapse" role="tabpanel" aria-labelledby="vitalsHeading">
      <% if vitals.length != 0 %>
        <table class="table table-striped table-hover">
          <tr>
            <th>Topic ID</th>
            <th>Type</th>
            <th>Measurement</th>
            <th>Note</th>
          </tr>
          <% vitals.each do |v| %>
            <tr>
              <td><%= link_to "#{v.topic_id}", topic_path(v.topic_id) %></td>
              <td><%= Topic.find(v.topic_id).name %></td>
              <td><%= print_if_present(v.measurement) %></td>
              <td><%= print_if_present(v.note) %></td>
            </tr>
          <% end %>
        </table>
      <% else %>
        Patient has not had any vitals measured.
      <% end %>
    </div>
  </div>
</div>
