<%= form_for @visit, class: "visit_form" do |f| %>
  <div id="all_topics" data-topicsMap="<%= @visit.topic_types %>"></div>
  <div class="row">
    <div class="col-sm">

      <%= render 'visits/show_accordion', f: f, family_members: FamilyMember.where(visit_id: @visit.id), vitals: Vital.where(visit_id: @visit.id), medications: Medication.where(visit_id: @visit.id), imagery: @imagery, tests: @tests, hospitalizations: Hospitalization.where(visit_id: @visit.id), diagnoses: Diagnosis.where(visit_id: @visit.id), procedures: Procedure.where(visit_id: @visit.id) %>
    </div>
  </div>
  <hr />
  <%= render 'topics/nested_list_form_body', f: f, visit: @visit %>
<% end %>
