const mskey = $('#ms').data('mskey')
const mshmac = $('#ms').data('mshmac')

$('#diagnosisHeader').append(visitHeader(patient, visit))
$('#reasonsForVisitHeader').append(reasonForVisitHeader(visit))
$('#nestedListHook').append(nestedList(allTopics, visit, mskey, mshmac))
$(function() {
  // body group pane topic type tabs
  $('button.paneTopicGroup').click(function() {
    $('button.paneTopicGroup').removeClass('active')
    $(this).addClass('active')
    $target = $(this).data('target')
    $('div.tabbable').hide()
    $(`div.tabbable#${$target}`).show()
  })

  // select 'other' from list to append text input
  $('select').change(function() {
    var opt = $(this).find("option:selected").val()
    switch(opt) {
      case "other (please specify)":
  	$(this).parent().find('input[type="text"]').show()
  	break;
  } });

  // click medParse button
  $('#medParse').click(function() {
    var table_rows = parseMed($('#epicMed').val(), visit, $('#invisible').data('rubyvar'))
    $('tbody#parsedMeds').append(table_rows)
  });

  // click submit button
  $('.confirm-submit').click(function() {
    data = $(this).data('attr')
    humanData = data.replace(/_/ig, ' ')
    selected = $(`input[name*=${data}]:checked`).val()
    return confirm(`Update ${humanData} to ${selected}?`);
  })
  $('button[type=submit]').click(function(){
    $('form').submit()
  });

  // toggle radio button label color
  $(function() {
    $("input[type='radio']").change(function() {
      $(this).parent().parent().find($("input[type='radio']")).parent().css('background-color', 'white')
      $(this).parent().css('background-color', 'rgba(0,0,0,0.3)')
    })
  });

  // click 'related' button
  $('button.related').click(function(){
    var data = $(this).data('topic')
    $currentRow = $(this).parent().parent().parent()
    var highestInd = parseInt($('.row_form').last().attr('id').match(/\d+/g)[0])
    required = `<tr><td colspan="3">${data.name}</td></tr>`
    switch (data.topic_type) {
      case 'procedure':
        required += `${assembledProcedureForm(data, highestInd + 1)}`
        break;
      default:
    }
    $currentRow.after(required)
    $('body').find("#row_" + (highestInd + 1)).show()
  })

  // initialize vitals pane
  $('.tab-pane#vitals, .tab-pane#aortic_imaging').find("input[type='number']").addKeyboard()
  // convert between vitals units
  $('select[id^=visit_vitals_attributes]').on('change', function () {
    $targetField = $(this).parent().children('input[type=number]')
    result = unitConverter($(this).val(), $targetField.val())
    $targetField.val(result)
  })

  // initialize cardiovascular pane
  $('.tab-pane#cardiovascular').find("input[type='number']").addKeyboard()

  //initialize tooltips
  $('[data-toggle="tooltip"]').tooltip()

  // click on either 'bar' or tab 'nav-link'
  $('a.open-tab').on("click", function(){
    // accordion-style collapse
    $("ul.summary-bar").find(".active").removeClass("active");
    $('.summary-body').hide();
    $(this).next(".summary-body").toggle();
    // scroll to new content
    $('html, body').animate({
      scrollTop: ($('.tab-pane.active').offset().top)
    }, 350);
  });

  // click on tab 'nav-link'
  $('a.nav-link').on("click", function(){
    $(".nav").find(".active").removeClass("active");
    $(this).parent().addClass("active");
    index = $(this).data('tab-index')
    $targetPane = $(`.tab-pane[data-tab-index='${index}']`)
    $targetPane.find('.tabbable').first().show()
    $targetPane.find('button.paneTopicGroup').first().addClass('active')
  });

  // toggle all negative on current pane
  $('h6.all-neg-toggler').click(function toggleAllAbsent() {
    $('.tab-pane.active').find("input[value='false']").prop("checked", "checked")
  });

  // calc button clicked
  $('button.calculator').click(function(e){
    $targetInput =  $(this).closest('.form-inline').children("input[type='number']")
    e.stopImmediatePropagation();
    var kb = $targetInput.getkeyboard();
    // close the keyboard if the keyboard is visible and the button is clicked a second time
    if ( kb.isOpen ) {
      kb.close();
    } else {
      kb.reveal();
    }
  });

  // append file name to attachment button on change
  $("input[type='file']").on('change', function() {
    var file_name = $(this).val().split("\\").pop().split("/").pop()
    $(this).next('button').find('label').append(file_name)
  });

  // hide or display row form based on 'present' or 'absent' checked
  $("input.pres_abs").change(function() {
    $('#floppy').addClass('text-primary')
    $row_form = $(this).parent().parent().parent().next('tr.row_form')
    // add keyboard and scribble widgets on row display
    $row_form.find("input[type='number']").addKeyboard()
    // add time ago approx/exact toggle
    $row_form.find(".time_ago_toggle").bootstrapSwitch({
      onText: 'Approx',
      offText: 'Exact',
      labelText: 'when?',
      onColor: 'secondary'
    });
    // toggle approximate or exact time ago
    $(".time_ago_toggle").on('switchChange.bootstrapSwitch', function (event, state) {
      $inputgroup = $(this).parent().parent().parent()
      if (state == true) {
        $inputgroup.find('.approximate').show()
        $inputgroup.find('.exact').hide()
      }
      else {
        $inputgroup.find('.approximate').hide()
        $inputgroup.find('.exact').show()
      }
    })

    // add scribble area
    $row_form.find("textarea").parent().append(scribbleButton($row_form[0].id, mskey, mshmac))
    if ($(this).val() == "true") {
      $row_form.show()
    } else if ($(this).val() == "false") {
      $row_form.hide()
    } else {
      $row_form.hide()
    }
    $('.btn-group-vertical > button').click(function(e){
      var classes = $(this)[0].classList.value
      $current_row = $(this).closest('tr')
      $current_scribble = $current_row.find('myscript-math-web')[0]
      $note_field = $current_row.find("textarea")[0]
      $current_modal = $('.modal.show')

      if (classes.includes('accept')) {
        if ($current_scribble.result) {
          var result = $current_scribble.result['LATEX']
          $note_field.value += result
          $current_modal.modal('hide')
        }
      } else if (classes.includes('undo')) {
        $current_scribble.undo()
      } else if (classes.includes('redo')) {
        $current_scribble.redo()
      } else if (classes.includes('destroy')) {
        $current_scribble.clear()
      } else {
        console.log('error')
      }

    });
  });
})
