<div>
  <%= link_to "View Visit Summary", visit_path(@visit) %>
  <hr />
</div>
<%= form_for @visit, class: "visit_form" do |f| %>
  <%= render 'topics/nested_list_form_body', f: f, visit: @visit %>
<% end %>
