<%= f.fields_for :tests, @nested_scope.tests.build do |ff| %>
  <div class="form-group">
    <div class="row">
      <% HeartImaging.locations.each do |m| %>
        <div class="col-sm-6">
          <div class="row">
            <label for="meas_<%= m.id %>" class="col-sm-7 col-form-label">
              <%= find_pretty_trail(m.id) %>
            </label>
            <div class="col-sm-5" id="aortic-root">
              <%= render 'tests/test_form_body', f: ff, topic_id: m.id, absolute_start_date: DateTime.now %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
