<select name="select" id="ct_imagery_type" class="form-control">
  <option value=""></option>
  <option value="echocardiogram">Echocardiogram</option>
  <option value="CT">CT</option>
  <option value="MRI">MRI</option>
</select>
<script>
    <%= render 'topics/imaging_type_selector.js', f: f %>
</script>
