<select name="select" id="ct_imagery_type">
  <option value=""></option>
  <option value="echocardiogram">Echocardiogram</option>
  <option value="CT">CT</option>
  <option value="MRI">MRI</option>
</select>

<script>
  $('select').change(function renderCTForm() {
    alert(this.value);
    switch (this.value) {
      case 'echocardiogram':
        $("div#add-another:last").html("<%= j render 'topics/echocardiogram', f: f, imaging_tech: 'echo' %>");
      case 'CT':
        $("div#add-another:last").html("<%= j render 'topics/echocardiogram', f: f, imaging_tech: 'CT' %>");
      case 'MRI':
        $("div#add-another:last").html("<%= j render 'topics/echocardiogram', f: f, imaging_tech: 'MRI' %>");
    };
  });
</script>
