<table class="table table-sm">
  <thead>
    <tr>
      <th>
        <h6 class="btn btn-sm all-neg-toggler">All Absent</button>
      </th>
      <th>
        Present
      </th>
      <th>
        Absent
      </th>
    </tr>
  </thead>
  <tbody>
    <%= render 'diagnoses/row_form', f: f, discussion_topic: discussion_topic %>
    <%= render 'procedures/row_form', f: f, discussion_topic: discussion_topic %>
  </tbody>
</table>
<script>
  <%= render 'topics/nested_list.js', f: f, discussion_topic: discussion_topic.leaves.to_json %>
</script>
