<!-- <select name="select-2" id="visit-edit-imaging-selector">
  <option value=""></option>
  <option value="echocardiogram">Echocardiogram</option>
  <option value="CT">CT</option>
  <option value="MRI">MRI</option>
</select>
<script>
    <%= render 'topics/visit_edit_imaging_selector.js', f: f %>
</script> -->
<%= render 'topics/echocardiogram', f: f %>
