<div id="vitalsAccordion" aria-multiselectable="true" role="tablist">
  <div class="card" style="border-color:#3B144A;" s>
    <div class="card-header red"  style="background-color:white; text-align:center" role="tab" id="vitalsHeading">
      <a data-toggle="collapse" data-parent="#vitalsAccordion" href="#vitalsCollapse" aria-expanded="true" aria-controls="vitalsCollapse" style="none">
        Vitals <i class="fa fa-caret-down"></i>
      </a>
    </div>
    <div id="vitalsCollapse" class="collapse show" role="tabpanel" aria-labelledby="vitalsHeading">
      <div class="card-block">
        <div class="row">
          <%= f.fields_for :vitals, @visit.vitals.build do |ff| %>
            <% @stats.each do |s| %>
              <div class="col-sm-6">
                <%= render 'topics/vital_form_body', ff: ff, s: s %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
