<div class="col-xs-6">
  <%= render 'nested_list', discussion_topic: @cardio %>
  <%= render 'nested_list', discussion_topic: @genetics %>
  <%= render 'nested_list', discussion_topic: @medication %>
</div>
<div class="col-xs-6">
  <%= form_for @visit do |f| %>
    <div id="topic_form_hook">
    </div>
  <% end %>
</div>
