<%= ff.file_field :attachment, name: "visit[#{parameterized_plural}_attributes][#{topic}][attachment]", id: "visit_#{parameterized_plural}_attributes_#{topic}_attachment", multiple: true, style: "display:none" %>
<button class="btn btn-light" type="button">
  <label for="visit_<%= parameterized_plural %>_attributes_<%= topic %>_attachment" class="fontawesome-icon">
    <i class="fa fa-camera"></i>
  </label>
</button>
