<div class="panel-body">
  <table class="table table-striped table-hover">
    <%= render "symptoms_table_header" %>
    <% @cranial_symptoms.each do |s| %>
      <%= render "symptoms_table_row", ff: f, s: s %>
    <% end %>
  </table>
</div>
