<%= f.fields_for :symptoms do |ff| %>
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table table-striped table-hover">
          <%= render "symptoms_table_header" %>
          <% @ocular_symptoms.each do |s| %>
            <%= render "symptoms_table_row", f: f, ff: ff, s: s %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
<% end %>
