<div class="row">
  <div class="col-sm">
    <div class="input-group">
        <input type="text" class="form-control" id="epicMed" placeholder="Epic users: .MEDSCURRENT"/>
        <span class="input-group-btn">
          <button type="button" class="btn btn-primary" data-animation="false" data-toggle="modal" data-target="#medModal" onclick="parseMed($('#epicMed').val());">
            Add Medication
          </button>
        </span>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="medModal" tabindex="-1" role="dialog" aria-labelledby="medModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="medModalLabel">Add Medication</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= f.fields_for :medications, @nested_scope.medications.build do |ff| %>
        <div class="modal-body">
          <%= render 'medications/med_form_body', ff: ff %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= ff.submit "Add Medications", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script>
  <%= render 'medications/epic_add_form.js' %>
</script>
