<table>
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Instructions
      </th>
      <th>
        ID
      </th>
    </tr>
  </thead>
  <tbody id="unParsedMedsTable">

  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Dose
      </th>
      <th>
        MOI
      </th>
      <th>
        ID
      </th>
    </tr>
  </thead>
  <tbody id="parsedMedsTable">

  </tbody>
</table>
