<p id="notice">
  <%= notice %>
</p>
<p>
  <%= @medication.generate_full_summary %>
</p>
<%= link_to 'Edit', edit_medication_path(@medication) %> |
<%= link_to '‹ Back', :back, class: "btn btn-light" %>
