<div class="btn-group" role="group">
  <%= link_to hospitalization_path(h.id), method: :get, class: "btn btn-secondary btn-sm" do %>
    <i class="fa fa-search"></i>
  <% end %>
  <%= link_to edit_hospitalization_path(h.id), method: :get, class: "btn btn-secondary btn-sm" do %>
    <i class="fa fa-pencil"></i>
  <% end %>
  <%= link_to hospitalization_path(h.id), method: :delete, class: "btn btn-secondary btn-sm" do %>
    <i class="fa fa-trash"></i>
  <% end %>
</div>
