<div class="btn-group" role="group">
  <%= link_to edit_hospitalization_path(h.id), method: :get, class: "btn btn-light btn-sm" do %>
    <i class="fa fa-pencil"></i>
  <% end %>
  <%= link_to hospitalization_path(h.id), method: :delete, class: "btn btn-light btn-sm", data: { confirm: "Are you sure you want to delete hospitalization record #{h.id} for #{h.topic.name} from record of #{h.patient.full_name}?"} do %>
    <i class="fa fa-trash"></i>
  <% end %>
</div>
