<p id="notice">
  <%= notice %>
</p>
<p>
  <%= @hospitalization.generate_summary %>
</p>
<%= link_to 'Edit', edit_hospitalization_path(@hospitalization) %> |
<%= link_to '‹ Back', :back, class: "btn btn-light" %>
