<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="panel panel-default" style="background-color: rgba(255, 255, 255, 0.8)">
      <div class="panel-body">
        <div class="well well-sm">
          <h1 class="display-3">NMF Tool</h1>
          <h3>A proof of concept rails application for intuitive, responsive note-taking and letter-generating for appointments related to connective tissue disorders.</h3>
          <hr />
          <div class="row">
            <div class="col-xs-8">
              <h4>Contribute as a clinician<h4>
              <p>Designed with nurses, doctors, and geneticists to be accessible to all members of a care team.</p>
              <p>Dynamic and mobile-friendly design with Bootstrap, jQuery, and javascript functionality for unobtrusive use on iPad during visit.</p>
            </div>
            <div class="col-xs-4">
              <%= link_to image_tag("http://bit.ly/2g1BTS5", alt: "Image of clinician registration form", width: 300), new_clinician_path %>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-xs-4">
              <%= link_to image_tag("http://bit.ly/2fG4utq", alt: "Image of report generated", width: 300), visits_path %>
            </div>
            <div class="col-xs-8">
              <h4>Generate Reports<h4>
              <p>Using the information gathered in the report as well as prior visit information, generate an after-visit letter in well-written English.</p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-xs-8">
              <h4>Intuitive Visits<h4>
              <p>Using the information gathered in the report as well as prior visit information, generate an after-visit letter in well-written English.</p>
            </div>
            <div class="col-xs-4">
              <%= link_to image_tag("http://bit.ly/2g1zSFk", alt: "Screenshot of new visit page", width: 300), new_visit_path %>
            </div>
          </div>
          <hr />
        </div>
      </div>
    </div>
    <div class="panel panel-default" style="background-color: rgba(255, 255, 255, 0.8)">
      <div class="panel-body">
        <div class="well well-sm">
          Image By Robert Skolmen <a href="//commons.wikimedia.org/w/index.php?title=User:Bobskol854&amp;action=edit&amp;redlink=1" class="new" title="User:Bobskol854 (page does not exist)">Bobskol854</a> - <span class="int-own-work" lang="en">Own work</span>, <a href="http://creativecommons.org/licenses/by-sa/3.0" title="Creative Commons Attribution-Share Alike 3.0">CC BY-SA 3.0</a>
        </div>
      </div>
    </div>
  </div>
</div>
