<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="panel panel-default" style="background-color: rgba(255, 255, 255, 0.8)">
      <div class="panel-body">
        <div class="well well-sm">
          <h1 class="display-3">NMF Tool</h1>
          <h3>A proof of concept rails application for intuitive, responsive note-taking and letter-generating for appointments related to connective tissue disorders.</h3>
          <hr />
          <div class="row">
            <div class="col-xs-8">
              <h4>Contribute as a clinician<h4>
              <p>Designed with nurses, doctors, and geneticists to be accessible to all members of a care team.</p>
              <p>Dynamic and mobile-friendly design with Bootstrap, jQuery, and javascript functionality for unobtrusive use on iPad during visit.</p>
            </div>
            <div class="col-xs-4">
              <%= image_tag "new_clinician.jpeg", width: 300 %>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-xs-4">
              <%= image_tag "generate_report.jpeg", width: 20 %>
            </div>
            <div class="col-xs-8">
              <h4>Generate Reports<h4>
              <p>Using the information gathered in the report as well as prior visit information, generate an after-visit letter in well-written English.</p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-xs-8">
              <h4>Intuitive Visits<h4>
              <p>Using the information gathered in the report as well as prior visit information, generate an after-visit letter in well-written English.</p>
            </div>
            <div class="col-xs-4">
              <%= image_tag "new_visit.jpeg", width: 300 %>
            </div>
          </div>
          <hr />
          <div class="container-fluid"> <!-- this makes your images scale constantly, between breakpoints as welll. removing -fluid makes then jump in size at breakpoints -->
  <div class="row">

  <div class="col-md-3 col-sm-4 col-xs-6">
    <div class="thumbnail_container">
      <div class="thumbnail">
          <img src="http://placehold.it/400x600">
      </div>
    </div>
</div>
<div class="col-md-3 col-sm-4 col-xs-6">
    <div class="thumbnail_container">
      <div class="thumbnail">
        <img src="http://placehold.it/600x600">
      </div>
    </div>
</div>
<div class="col-md-3 col-sm-4 col-xs-6">
    <div class="thumbnail_container">
      <div class="thumbnail">
          <img src="http://placehold.it/600x400">
      </div>
    </div>
</div>
<div class="col-md-3 col-sm-4 col-xs-6">
    <div class="thumbnail_container">
      <div class="thumbnail">
        <img src="no-photo" /> <!-- No Photo, but it still scales -->
      </div>
    </div>
</div>
        </div>
      </div>
    </div>
    <div class="panel panel-default" style="background-color: rgba(255, 255, 255, 0.8)">
      <div class="panel-body">
        <div class="well well-sm">
          Image By Robert Skolmen <a href="//commons.wikimedia.org/w/index.php?title=User:Bobskol854&amp;action=edit&amp;redlink=1" class="new" title="User:Bobskol854 (page does not exist)">Bobskol854</a> - <span class="int-own-work" lang="en">Own work</span>, <a href="http://creativecommons.org/licenses/by-sa/3.0" title="Creative Commons Attribution-Share Alike 3.0">CC BY-SA 3.0</a>
        </div>
      </div>
    </div>
  </div>
</div>
