<div class="btn-group" role="group">
  <%= link_to edit_dissection_path(id: d.id), method: :get, class: "btn btn-secondary btn-sm" do %>
    <i class="fa fa-pencil"></i>
  <% end %>
  <%= link_to dissection_path(id: d.id), method: :delete, class: "btn btn-secondary btn-sm", data: { confirm: "Are you sure you want to delete dissection #{d.id} for #{d.topic.name} from record of #{d.patient.full_name}?"} do %>
    <i class="fa fa-trash"></i>
  <% end %>
</div>
