<div class="btn-group" role="group">
  <%= link_to vital_path(v.id), type: "button", method: :get, class: "btn btn-secondary btn-sm" do %>
    <i class="fa fa-search"></i>
  <% end %>
  <%= link_to edit_vital_path(v.id), type: "button", method: :get, class: "btn btn-secondary btn-sm" do %>
    <i class="fa fa-pencil"></i>
  <% end %>
  <%= link_to vital_path(v.id), method: :delete, type: "button", class: "btn btn-secondary btn-sm" do %>
    <i class="fa fa-trash"></i>
  <% end %>
</div>
