<%= f.fields_for :vitals, @visit.vitals.build unless @visit.vitals do |ff| %>
  <div class="row">
    <div class="col-sm-6">
      <%= render 'vitals/blood_pressure', ff: ff, sbp: @sbp[0], dbp: @dbp[0] %>
    </div>
    <% @stats.each do |s| %>
      <div class="col-sm-6">
        <%= render 'vitals/vital_form_body', ff: ff, s: s %>
      </div>
    <% end %>
  </div>
<% end %>
<div class="row">
  <%= render 'vitals/table_body', vitals: @patient.vitals %>
</div>
