<h4>
  Concerns
</h4>
<% if concerns.all? { |k,v| v.empty? } %>
  No concerns noted yet
<% else %>
  <%= render 'visits/show_accordion', concerns: concerns %>
<% end %>
<script>
$('a.open-tab').on("click", function(){
  // accordion-style collapse
  $("ul.summary-bar").find(".active").removeClass("active");
  $('.summary-body').hide();
  $(this).next(".summary-body").toggle();
});
</script>
