<% if @relationships_with %>
<h4>
  Known Relationships
</h4>
<ul>
  <% @relationships_with.each do |r| %>
    <li>
      <%= "#{r.topic.name} to" %>
      <%= link_to "#{r.full_name}", family_member_path(r.id) %>
    </li>
  <% end %>
  <% @relationships_to.each do |r| %>
    <li>
      <%= "#{r.topic.name} of" %>
      <%= link_to "#{r.patient.full_name}", patient_path(r.patient_id) %>
    </li>
  <% end %>
</ul>
<% end %>
