<h4>
  Known Relationships
</h4>
<% if !@relationships.empty? %>
  <ul>
    <% @relationships.each do |r| %>
      <li>
        <%= "#{r.topic.name}:" %>
        <% if r.claimed_patient_id %>
          <%= link_to "#{r.full_name}", patient_path(r.claimed_patient_id) %>
        <% else %>
          <%= link_to "#{r.full_name}", family_member_path(r.id) %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  No relationships noted yet
<% end %>
