<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#patientSummaryModal">
  View Patient Information
</button>
<div class="modal fade" id="patientSummaryModal" tabindex="-1" role="dialog" aria-labelledby="patientModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="patientModalTitle">
          Patient <%= "#{@visit.patient_id} (DOB: #{@patient.date_of_birth.strftime('%d %B %Y')})" %>
          <%= link_to edit_patient_path(@patient.id), class: "btn btn-primary", display: "inline-block" do %>
            <i class="fa fa-user"></i>
          <% end %>
        </h5>
      </div>
      <div class="modal-body">
        <%= render 'patients/show', family_members: FamilyMember.where(patient_id: @patient.id), vitals: Vital.where(patient_id: @patient.id), tests: Test.where(patient_id: @patient.id), hospitalizations: Hospitalization.where(patient_id: @patient.id), symptoms: Symptom.where(patient_id: @patient.id), diagnoses: Diagnosis.where(patient_id: @patient.id), procedures: Procedure.where(patient_id: @patient.id) %>
      </div>
    </div>
  </div>
</div>
