<%= form_for @patient do |f| %>
  <h3>
    Edit <%= @patient.full_name %>
    <%= render 'link_buttons', patient: @patient %>
  </h3>
  <hr />
  <%= render 'form', f: f, patient: @patient %>
<% end %>
