<% content_for :navbar do %>
  <%= render 'show_nav.html.erb', patient: @patient %>
<% end %>
<div class="patient-show" data-spy="scroll" data-target="#navbar-example">
  <div class="row">
    <div class="col-12">
      VISIT HISTORY
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      IMAGERY HISTORY
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      VITALS HISTORY
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4>
        Known Concerns
      </h4>
      <%= render 'patients/show', concerns: @concerns %>
    </div>
  </div>
</div>
