<br />
<div class="row">
  <div class="col-xs-10 col-centered">
    <div class="panel panel-default">
      <div class="panel-heading"><h1><%= "#{@patient.first_name} #{@patient.last_name}" %></h1></div>
      <table class="table table-striped table-hover">
        <tr>
          <th>ID</th>
          <th>Clinician</th>
          <th>Start Visit</th>
        </tr>
        <% @visits.each do |v| %>
          <tr>
            <td><%= link_to v.id, visit_path(v) %></td>
            <td><%= link_to "#{Clinician.where(id: v.clinician_id)[0].last_name}, #{Clinician.where(id: v.clinician_id)[0].first_name}", clinician_path(v.clinician_id) %></td>
            <td><%= link_to "New visit", new_visit_path %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
