@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-table";

// @media only screen
//   and (min-device-width : 2048px)
//   and (max-device-width : 2732px) {
//     html {
//       -webkit-text-size-adjust: 140%;   /* none for no scaling */
//     }
//   }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

body {
  padding-top: 50px;
}

.absolute-center {
  position:absolute;
  bottom: 5%;
  right:20%;
}

div.btn-group form{
  display: inline;
}

.jumbotron {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/28/Stanford_Medical_Center.JPG);
  background-size: cover;
  height: 100%;
}

.thumbnail_container {
     position: relative;
     width: 100%;
     padding-bottom: 100%;
     float:left;
}

.thumbnail {
    position:absolute;
    width:100%;
    height:100%;
}
.thumbnail img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

img{
    max-height:100%;
    max-width:100%;
}

.center-text {
  text-align: center;
}
