 @import "bootstrap-sprockets";
 @import "bootstrap";

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

body {
  padding-top: 50px; 
}
