@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-table";


.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

body {
  padding-top: 50px;
}

.absolute-center {
    position:absolute;
    bottom: 5%;
    right:20%;
}

div.btn-group form{
  display: inline;
}
