<div class="btn-group" role="group">
  <%= link_to edit_test_path(id: t.id), method: :get, class: "btn btn-secondary btn-sm" do %>
    <i class="fa fa-pencil"></i>
  <% end %>
  <%= link_to test_path(id: t.id), method: :delete, class: "btn btn-secondary btn-sm", data: { confirm: "Are you sure you want to delete test #{t.id} for #{t.topic.name} from record of #{t.patient.full_name}?"} do %>
    <i class="fa fa-trash"></i>
  <% end %>
</div>
