<div class="row">
  <div class="col-sm">
    <%= f.label :attachments, "Add Photos and Documents", class: "control-label" %>
    <%= f.file_field :attachments, multiple: true, class: "form-control-file" %>
  </div>
</div>
<hr />
